@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  /* Header Styles */

  .address-list {
    display: flex;
    align-items: center;
    padding: 0 0;
    gap: 40px;
  }

  .logo {
    margin-right: 76px;
  }

  .header-list {
    margin-right: 332px;
  }

  .header-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .header-mail-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .header-tel-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  /* Team */
  .team > .container {
    max-width: 1158px;
  }

  /* Costumers */

  .costumers > .container {
    max-width: 1158px;
  }
  .costumers-list {
    gap: 24px;
  }
  .costumers-list .costumers-list-item {
    width: 168px;
    height: 88px;
  }

  /* Advantage */

  .advantage {
    padding: 120px 0px;
  }
  .advantage-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background: var(--main-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .advantage-link {
    background: var(--main-color);
    border-radius: 4px;
  }

  .advantage .advantage-list {
    gap: 24px;
  }
  .advantage-list-item {
    width: 264px;
    height: 224px;
  }
  .advantage-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .advantage-text {
    font-weight: 400;
  }

  /* About */

  .about .about-img-list {
    display: flex;
  }

  .about-img-list {
    gap: var(--determined-ident);
  }

  .about {
    padding-bottom: var(--specific-ident);
    display: block;
  }

  .about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--twice-color);
    padding-bottom: 72px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: var(--gradient), url(../img/hero-desktop.jpg);
    max-width: 1440px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--gradient), url(../img/hero-desktop-2x.jpg);
    }
  }

  /* Footer styles */
  .page-footer {
    padding: 100px 0;
    margin: 0 auto;
  }
  .footer-flex {
    display: flex;
    margin: 0 auto;
    column-gap: 0;
  }

  .footer-description {
    margin-right: 120px;
  }
  .footer-tagline {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 264px;
  }
  .footer-social {
    margin-right: 80px;
  }
}
