/* General styles */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

:root {
  --brand-color: #757575;
  --twice-color: #212121;
  --triple-color: #2e2f42;
  --fourth-color: #8e8f99;
  --border-color: #e7e9fc;
  --specific-ident: 120px;
  --determined-ident: 24px;
  --main-color: #f4f4fd;
  --blue-color: #4d5ae5;
  --darkblue-color: #404bbf;
  --white-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto";
  background: var(--white-color);
  color: var(--brand-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.current {
  position: relative;
  color: var(--darkblue-color);
}

/* header styles */

.page-header {
  border-bottom: 1px solid var(--border-color);
}

.page-header .container {
  display: flex;
  align-items: center;
}

.page-header .header-fulllogo {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 28px;
}

.container-header {
  display: flex;
  align-items: center;
}

.header-web {
  color: var(--blue-color);
}

.header-studio {
  color: var(--triple-color);
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-list,
.header-contacts {
  display: none;
}

/* Mob-menu */

.mobile-menu {
  display: flex;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  padding-right: 40px;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.list-mobile-menu {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}
.mobile-menu-item {
  padding-bottom: 40px;
}
.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 40px;
  padding-right: 40px;
  align-items: start;
  color: #434455;
  transition: color 250ms var(--timing-function);
}
.mobile-phone-number {
  font-weight: 600;
  font-style: normal;
  transition: color 250ms var(--timing-function);
}
.mobile-menu-open {
  display: block;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  /* margin-left: auto; */
}
.menu-open-btn {
  stroke: black;
}
.mobile-contact-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  font-style: normal;
  color: #434455;
  transition: color 250ms var(--timing-function);
}
.mobile-menu-link {
  color: #2e2f42;
  transition: color 250ms var(--timing-function);
}
.btn-close-mobile {
  width: 24px;
  height: 24px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 24px;
  right: 24px;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-close-mobile:is(:hover, :focus) {
  background: var(--darkblue-color);
  fill: #ffffff;
}
.mobile-social-list {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  gap: 30px;
}

.mobile-social-item {
  width: 40px;
  height: 40px;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--darkblue-color);
}
.mobile-phone-number:hover,
.mobile-phone-number:hover {
  color: var(--blue-color);
}
.mobile-contact-mail:hover,
.mobile-contact-mail:focus {
  color: var(--blue-color);
}

.mobile-social-icon {
  fill: var(--main-color);
}

.mobile-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}
.mobile-social-link:is(:hover, :focus) {
  background: var(--darkblue-color);
}

/* hero styles */

.hero {
  background: var(--triple-color);
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;
  background-image: var(--gradient), url(../img/hero-mob.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../img/hero-mob-2x.jpg);
  }
}

.hero .container {
  display: flex;
  justify-content: center;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.hero-button {
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  cursor: pointer;
  padding: 16px 32px;
  margin: auto auto;
  border-color: transparent;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--darkblue-color);
  transition: color 250ms var(--timing-function);
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--white-color);
  margin-bottom: 72px;
  width: 320px;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(90deg);
}

.modal-close {
  width: 24px;
  height: 24px;
  background-color: var(--border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  margin-left: auto;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  margin-bottom: 24px;
}

.modal-close-icon {
  margin: auto;
  display: block;
  justify-content: center;
}

.modal-close:is(:hover, :focus) {
  border-color: var(--darkblue-color);
  background-color: var(--darkblue-color);
}

.modal-close:is(:hover, :focus) .modal-close-icon {
  transition: transform 250ms var(--timing-function);
  fill: var(--white-color);
}

.input-wrap {
  position: relative;
  display: flex;
  left: auto;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 14px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 38px;
}

.modal-input:focus,
.modal-coment:focus {
  border-color: var(--blue-color);
  transition: border-color 250ms var(--timing-function);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--darkblue-color);
  transition: fill 250ms var(--timing-function);
}

.modal-input-icon {
  margin-left: 16px;
  position: absolute;
  /* left: 16; */
  top: 50%;
  transform: translateY(-50%);
  color: var(--triple-color);
}

.modal-input-text span,
.modal-input-text {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: var(--fourth-color);
}

.modal-coment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  /* color: rgba(117, 117, 117, 0.5); */
}

.modal-input-icon {
  margin-left: 16px;
  position: absolute;
  /* left: 16; */
  top: 50%;
  transform: translateY(-50%);
  color: var(--triple-color);
}

.modal-input-text span,
.modal-input-text {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: var(--fourth-color);
}

.modal-coment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
}

.modal-check:checked + .check-text span {
  background: var(--darkblue-color);
  border: 1.25px solid var(--darkblue-color);
  border-radius: 2px;
  fill: var(--white-color);
}

.check-text {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  margin-bottom: 24px;
}

.online-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  /* justify-content: center; */
  /* align-items: center; */
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--triple-color);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms var(--timing-function);
  fill: transparent;
}

.privacy-policy {
  color: var(--blue-color);
  margin-left: 3px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background: var(--blue-color);
  border-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  width: 169px;
  height: 56px;
}

.submit:is(:hover, :focus),
.subscribe-button:is(:hover, :focus) {
  background: var(--darkblue-color);
  border-color: var(--darkblue-color);
  transition: background-color 250ms var(--timing-function);
}

/* Gallery styles */
.gallery {
  padding-bottom: var(--specific-ident);
  padding-top: 96px;
}

.gallery-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
}

.gallery-list-item {
  margin-right: 24px;
}

.gallery-list-item:last-child {
  margin-right: 0;
}

.gallery-list-button {
  color: var(--blue-color);
  font-family: inherit;
  background: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.5;
  padding: 12px 24px;
  border-color: transparent;
}

.gallery-link:hover .product-text {
  transform: translatey(0%);
}

.product {
  position: relative;
  overflow: hidden;
}

.product-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
  background-color: var(--blue-color);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms var(--timing-function);
}

.gallery-list-img {
  display: flex;
  flex-wrap: wrap;
}

.gallery-list-img-item {
  width: 360px;
  margin-right: var(--determined-ident);
  margin-bottom: 48px;
}

.gallery-list-img-item:hover,
.advantage-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: color 250ms var(--timing-function);
}

.gallery-list-description {
  padding: 32px 0;
  border: 1px solid var(--border-color);
  border-top: none;
}

.gallery-list-img-item:nth-child(3n) {
  margin-right: 0;
}

.gallery-list-img-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.gallery-list-button:hover,
.gallery-list-button:focus {
  background-color: var(--darkblue-color);
  color: var(--white-color);
  background: var(--darkblue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: color 250ms var(--timing-function);
}

.gallery-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--twice-color);
  padding-left: 16px;
  margin-bottom: 8px;
}

.gallery-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  padding-left: 16px;
}

/* Advantage styles */
.advantage {
  padding: 96px 0px;
}

.advantage .advantage-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.advantage-svg {
  display: none;
}

.advantage-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  color: var(--triple-color);
  text-align: center;
}

.advantage-text {
  font-weight: 500;
  font-size: 16px;
  color: #434455;
  line-height: 24px;
  margin-top: 8px;
  letter-spacing: 0.02em;
}

/* About styles */
.about {
  display: none;
}
/* Team styles */
.team-list .social-item {
  width: 40px;
  height: 40px;
  margin-right: 24px;
}

.team-list .social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-color);
  border-radius: 50%;
}

.team-list .social-link:hover,
.team-list .social-link:focus {
  background-color: var(--darkblue-color);
  transition: color 250ms var(--timing-function);
}

.team-list .social-item:last-child {
  margin-right: 0;
}

.team-list .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.team-list .social-icon {
  fill: var(--main-color);
}

.team .team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
  align-items: center;
}

.team-person {
  padding: 32px 16px;
}

.team {
  background-color: var(--main-color);
  padding-top: 96px;
  padding-bottom: 128px;
}

.team-list-item {
  background: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--twice-color);
  padding-bottom: 72px;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--triple-color);
  margin-bottom: 8px;
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Costumers */
.costumers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.costumers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--triple-color);
  margin-bottom: 72px;
}

.costumers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.costumers-list .costumers-list-item {
  width: 190px;
  height: 88px;
}

.costumers-list .costumers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--fourth-color);
  border-radius: 4px;
}

.costumers-link:hover,
.costumers-link:focus {
  border: 1px solid var(--darkblue-color);
  border-radius: 4px;
  transition: color 250ms var(--timing-function);
}

.costumers-list .costumers-icon {
  fill: var(--fourth-color);
}

.costumers-link:is(:hover, :focus) .costumers-icon {
  fill: var(--darkblue-color);
  transition: color 250ms var(--timing-function);
}

/* Footer styles */
.page-footer {
  background-color: var(--triple-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-description {
  display: flex;
  margin-right: 120px;
  flex-direction: column;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-web {
  color: var(--blue-color);
}

.footer-studio {
  color: var(--main-color);
}

.footer-tagline {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--border-color);
  margin-top: 16px;
  width: 264px;
}

.footer-social-tagline {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.footer-social-list .footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  margin-top: 16px;
}

.footer-social .footer-social-list {
  display: flex;
}

.footer-social-list .footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-list .footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-list .footer-social-icon {
  fill: var(--main-color);
  transition: color 250ms var(--timing-function);
}

.footer-social-list .footer-social-link:hover,
.footer-social-list .footer-social-link:focus {
  background-color: #31d0aa;
  transition: color 250ms var(--timing-function);
}

.subscribe-pic {
  fill: var(--white-color);
}

.online-input::placeholder {
  font-size: 12px;
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.online-input {
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  height: 40px;
  width: 264px;
  color: var(--white-color);
  background: var(--triple-color);
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
}

.footer-subscribe {
  letter-spacing: 0.02em;
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--white-color);
}

.subscribe {
  display: flex;
  margin-top: 16px;
}

.footer-main-subscribe {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}

.subscribe-button {
  height: 40px;
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  color: var(--white-color);
  background: var(--blue-color);
  border-radius: 4px;
  border: none;
}
